[2019-01-17 19:46] msaraiva opened #1 "Set up travis-ci"

[2019-01-18 17:42] #1 closed

[2019-04-05 15:33] dokie opened #10 "Should we consider extending the `BroadwaySQS.SQSClient` behaviour?"
As I mentioned in #9, I would like to extend the SQS visibility timeout dynamically at runtime which is possible through the underlying `ExAws.SQS` module. There are many ways it could be done but I wanted to know if you thought it would be an acceptable proposal to extend the `Broadway.SQSClient` behaviour in such a manner as;

[code]

Or do you consider this to be too specific? Ideas welcomed of

[2019-04-05 15:41] josevalim commented on #10
I think what we could do is to expose an API like this:

    BroadwaySQS.receipt(%Broadway.Message{}) :: {:ok, receipt} | {:error, :incompatible_producer}

This way you can get the receipt any time you want and do what you want with it.

[2019-04-05 15:45] dokie commented on #10
@josevalim That would work fine too - it would allow what I require for sure. It _may_ open up the situation where the recipient stupidly or deliberately `deletes` the message from the queue ahead of the `Acknowledger`!

[2019-04-05 15:45] josevalim commented on #10
@dokie if they want to do stupid stuff, they can do it anyway by accessing the receipt directly. So I am not worried. And we can add the proper disclaimer in the docs! :D

[2019-04-05 15:52] dokie commented on #10
Fair point @josevalim 😉

[2019-04-05 16:00] josevalim commented on #10
@dokie let's hear from @msaraiva and, if he agrees, would you be so kind to send a pull request?

[2019-04-05 16:04] dokie commented on #10
Of course, it would be my pleasure to help out.

[2019-04-05 17:21] msaraiva commented on #10
Ok, here's the suggestion:

  1. A new callback `message_receipt/1` or just `receipt/1` in `BroadwaySQS.SQSClient`
  2. Implement the new callback in `BroadwaySQS.ExAwsClient`
  3. Add a new public function `message_receipt/1` or just `receipt/1` to `BroadwaySQS.Producer` that extracts the client from the `acknowledger` fields and calls `client.message_receipt/1'

Would that be enough?

[2019-04-05 17:51] josevalim commented on #10
Sounds perfect to me.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-04-05 18:17] msaraiva opened #11 "Allow BroadwaySQS to work with temporary sessionToken"
Discussion started here https://github.com/plataformatec/broadway/issues/68.

@gvaughn:

Currently, the only option would be to create a custom SQSClient. However, we believe it would be a good idea to extend the API to allow this, so here's is a first suggestion:

We can provide a new config option for the client called `token_generator`, which is a `{M, f, a}` to be called before each receive/de

[2019-04-05 19:35] gvaughn commented on #11
Thanks for your thoughts on this issue.

I'm still new to this codebase, so take my comments with that in mind. What would this `token_generator` be expected to return? Is it the:

[2019-04-05 20:05] josevalim commented on #11
The problem with this approach is that you may have multiple producers... so we would need to call the callback with each of config of each producer, which will complicate things. For example, you can't rely on the expiration time, because it is per producer, so there is no advantage storing it in the producer. If you want to rely on the expiration time, then it means no caching between producers.

[2019-04-05 20:17] gvaughn commented on #11
I see. I was too focused on the problem in front of me which only has a single producer (at least for now ;-) and I'm still getting familiar with Broadway. I don't fully see all the subtleties yet, but I trust your judgement. I can achieve what I'm looking for by managing my own state behind my `*_generator`

[2019-04-06 06:38] dokie commented on #10
Great. I'll take this then now and work on it.

[2019-04-08 20:00] gvaughn opened #14 "Access to the attributes and message_attributes of the underlying SQS message"
It appears that in [wrap_messages](https://github.com/plataformatec/broadway_sqs/blob/master/lib/broadway_sqs/ex_aws_client.ex#L62) only the `body` from the message ExAws generates [here](https://github.com/ex-aws/ex_aws_sqs/blob/master/lib/ex_aws/sqs/parsers.ex#L97) is kept. I have a situation with an encrypted body that delivers the initialization vector needed for decryption in a MessageAttribu

[2019-04-08 20:06] gvaughn commented on #14
Combined with this and #11 it is looking more like my needs correspond with a custom `SQSClient` rather than adding complexity to the core of Broadway.

[2019-04-08 20:56] msaraiva commented on #14
Hi @gvaughn!

I think we should allow BroadwaySQS to expose messages attributes. The big question is how.

First, we need to add a  field to the `Message` struct to hold that information. It could be `attributes`, in case the concept can be extended to other connectors, or something like `extra_data`, which is probably better since we're not assuming any contract in advance.

Another thing to cons

[2019-04-08 21:38] josevalim commented on #14
I like a field called metadata or attributes and explicitly requesting the
user to list which ones should be extracted.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-04-09 11:38] #10 closed

[2019-04-09 21:41] gvaughn commented on #14
I've been taking some time with a custom SQSClient to better understand my overall challenges. I learned that I have to pass options into `ExAwsSQS.receive_messages` to opt into the attributes and message_attributes (which seem to be different for a reason I don't understand yet). Those won't be passed through via `ExAwsClient.validate_receive_message_opts` in the existing code either.

The servic

[2019-04-10 06:09] pedromtavares commented on #14
Accessing message attributes via Broadway would be fantastic. I've been refactoring a custom data pipeline to use Broadway but got stuck in this part since we use message attributes to structure how our data gets passed around since we pass multiple keys in each message. Completely agree with @josevalim's idea of requesting the user to list which attributes would be needed.

[2019-04-10 11:55] msaraiva commented on #14
I'll take a closer look at SQS API regarding message attributes so we can propose a general solution.

Sounds like a good plan. I created an issue for Broadway to add the `attributes` field since any solution will depend on it: https://github.com/plataformatec/broadway/issues/69

[2019-04-11 20:53] felipevolpone opened #15 "Is it possible to use profile as authentication method?"
Hi guys,

first of all, thanks for this project. I'm looking forward to test in an environment to consume around 1.5 million SQS messages per day.

I have been playing with it, but I didn't find a way to authenticate my app using AWS profile (like `~/.aws/config, [1]). If it's not possible, but you think that it would be nice to have it in the project, I'm wiling to send a PR.

[1] search for `Set

[2019-04-11 21:32] josevalim commented on #15
Yes, please see here: https://hexdocs.pm/ex_aws/ExAws.html#module-aws-key-configuration

You can pass those under config option when setting up your Broadway producer:

[code]

[2019-04-11 21:32] #15 closed

[2019-04-25 11:46] #14 closed

[2019-04-26 21:39] gvaughn commented on #11
I now have a working implementation of my custom SQSClient and can better comment on this issue. Yes a {M, f, a} `token_generator` called before each read/delete request would serve my needs. I have to store my state in one spot, so I'll have this bottleneck (which isn't a problem at our rate of messages) but we would not want to bake that into the framework itself.

On the other hand, I also woul

[2019-05-03 16:53] msaraiva opened #17 "Add option `ack_on_failure`"

[2019-05-07 16:46] albertored opened #18 "Proposal on dynamic visibility timeout"
I have a legacy application that uses `GenStage` for processing messages from an SQS queue.
The processing takes a variable amount of time so I have implemented some sort of registry that handles the visibility timeout of messages. When a message arrives a timer that periodically extends its visibility is started. When the processing fails the visibility timeout is set to 0 and if instead the proc

[2019-05-08 07:22] josevalim commented on #18
I believe you can achieve what you propose by having a custom broadway_sqs client that wraps our own.  So what you do is that you pass your own client and internally it delegates to ExAWS. This will allow you to wrap all of the actions you have mentioned.

[2019-05-08 07:45] albertored commented on #18
Hi @josevalim, thanks for the reply, this is indeed a good idea, thanks!

The only small problem I still see is with the `Acknowledger`. Functions that build and put the `:acknowledger` in the message are private so I can't change them and the acknowledger in messages will still point to the original SQS client module. This is not blocking because in my `receive_messages` function I can map over m

[2019-05-08 07:57] josevalim commented on #18
It is totally fine for a producer to change the ack fields. So you can wrap
it. The reason we don’t have a public API (yet) is because for now we are
mostly focused on the user API.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-05-08 11:27] albertored commented on #18
I tried and it works without problems, thanks again

[2019-05-08 11:27] #18 closed

[2019-07-27 15:18] churcho opened #25 "Option to not hit live AWS when testing"
I already have an `AWSMock` which I use in several places in my codebase. When testing BroadwaySQS, `BroadwaySQS.ExAwsClient` is used for calls and by that the app uses `ExAws.request`, is there a way to override this so I can use my mock in this setup?

[2019-07-27 15:33] josevalim commented on #25
Hi @churcho! Broadway master has a dummy producer, which you would use in your test environment so you don't hit AWS.

[2019-07-27 15:33] #25 closed

[2019-07-27 22:04] churcho commented on #25
Hi, I tried that option but now I am getting
[code]

[2019-07-27 22:12] churcho commented on #25
Got it to work by changing deps to:
[code]

Basically replicated the structure [here](https://github.com/hexpm/hexdocs/blob/bbabd92712fe59aa0cce55236d44501669dc1a52/lib/hexdocs/queue.ex)

[2019-08-19 13:25] ramudu63 opened #26 "which Function for delete message from queue"
I am using standard sqs, this won't delete the message after reading the message from the queue. In broadwat_sqs how I will delete message manually from the queue.

[2019-08-19 14:21] josevalim commented on #26
Can you provide more information? What do you mean by standard sqs? Does it mean an ACK does not delete the message?

In any case, if you want to delete the message manually, you can use ExAWS.

[2019-08-19 14:47] ramudu63 commented on #26
I am using a standard queue, yes ack does not delete the message from queue after reading it.

[2019-08-19 15:00] josevalim commented on #26
So checkout the ExAWS package and it should provide an API to delete messages. In case it doesn't, you can always perform a request to ExAWS HTTP endpoints directly.

[2019-08-19 15:00] #26 closed

[2019-08-24 08:21] josevalim commented on #11
This functionality was merged for Google Cloud PubSub, so we would definitely be glad to merge similar PR here: https://github.com/plataformatec/broadway_cloud_pub_sub/pull/29

So a PR is definitely welcome!

[2019-08-28 21:50] koozdra opened #27 "Upgrade ex_aws_sqs dependancy to version 3 for localstack"
Hi, I'm trying to get broadway working with localstack and was having  some trouble. I specify `queue_name` as `http:/localhost:4576/queue/events`.

When requests are made the following url is used:
[code]
resulting in a 404.

This [PR](https://github.com/ex-aws/ex_aws_sqs/pull/9) adds the ability to specify the queue url instead which could be used to specify the exact url to work with localstack

[2019-08-29 18:47] josevalim commented on #27
Sounds good to us! Can you please send a PR? Otherwise we will get to it later.

[2019-08-29 22:44] koozdra commented on #27
I tried to open a PR but the permissions on this repo don't allow it.

Here is a patch:
[code]

[2019-08-30 13:46] josevalim commented on #27
Applied manually, thank you! You can use master for now, until a new version is out!

[2019-08-30 13:46] #27 closed

[2019-09-18 15:35] bannmoore opened #28 "Upgrade broadway dependency to version 0.4.0"
Hello! 👋 We're currently in a situation where we're using `broadway_sqs` `0.2.0`, which is currently pulling in `broadway 0.3.0`. We're interested in leveraging [testing features](https://hexdocs.pm/broadway/Broadway.html#module-testing) that were introduced in `0.4.0`, such as `Broadway.DummyProducer`.

For the moment we've recreated that producer in our project, but it'd be awesome if we could u

[2019-09-18 15:44] josevalim commented on #17
We should mirror the configurations for RabbitMQ: on_success and on_failure and our possible values will be `:ack | :noop`.

[2019-09-18 15:56] josevalim commented on #28
v0.3.0 is out!

[2019-09-18 15:56] #28 closed

[2019-09-24 22:40] chris-brace opened #30 "ex_aws_sqs no longer constructs request correctly"
The following worker (c&p from the docs) fails to connect to the queue.
[code]

It gets the following errors:
[code]

These are my deps
[code]

When i downgrade to broadway_sqs 0.2.0 it forms the request url successfully:

[code]

You can see that `second` gets appended to the base sqs url.

[2019-09-24 22:48] chris-brace commented on #30
I believe this might be related to #27 which appears to have changed the tests to check for the url im seeing that's broken.

[2019-09-24 22:55] chris-brace commented on #30
So it appears to work when i pass `https://us-east-2.queue.amazonaws.com/838607676327/second` as the `queue_name`. Im not 100% sure this is intended, but at very least it should be mentioned in the docs.

[2019-09-25 12:19] msaraiva commented on #30
Hi @chris-brace! Thanks for the report.

So, as far as I could see, since ex_aws_sqs v3.0.0 they started using the **queue URL** instead of the **queue name** because, according to https://github.com/ex-aws/ex_aws_sqs/pull/9#issue-298229693, the SQS docs states that:

Don't build the queue URL from its separate components each time you need to specify
the queue URL in a request because Amazon SQS

[2019-09-25 13:44] nocivus opened #31 "[error] Unable to fetch events from AWS. Reason: {:option, :server_only, :honor_cipher_order}"
Hi all, getting this error when running a broadway app inside a docker container on AWS fargate. All the AWS credentials are being correctly set and passed to the producer:

[code]

Where get_aws_credentials() is:

[code]

All those env vars are present and correct inside the container.

I do notice that the queue url appears to not be constructed correctly (i think it's missing the AWS account id

[2019-09-25 13:54] msaraiva commented on #31
Hi @nocivus!

Does it work if you pass the full queue URL instead of the name? If so, this is a known issue regarding a recent change in `ex_aws_sqs`. You can see more details here https://github.com/plataformatec/broadway_sqs/issues/30. Please let me know in case it's not related at all.

[2019-09-25 14:09] nocivus commented on #31
Hi @msaraiva, still happens if i set the host with the account id. The message then becomes:
`[warn] ExAws: HTTP ERROR: {:option, :server_only, :honor_cipher_order} for URL: "https://sqs.eu-west-1.amazonaws.com/12345678/my_queue" ATTEMPT: 10` :(

[2019-09-25 14:19] nocivus commented on #31
Seems to be unrelated, tbh.

In local development it works properly, only fails when running inside an alpine container on AWS.

If i put the full url in the queue name it fails locally (as it should, since it's just appending that name to the host).

[2019-09-25 14:29] chris-brace commented on #31
This is currently an issue with hackney. It is to do with lack of verison pinning. OTP updated to 22.1 and changed a return type. For now replace your hackney dep with `{:hackney, github: "benoitc/hackney", override: true}`

[2019-09-25 14:30] nocivus commented on #31
thanks @chris-brace, will give that a shot...

[2019-09-25 14:32] chris-brace commented on #31
No problem. However, if you *also* upgrade from broadway_sqs 0.2.0 to 0.3.0 you'll need to set the ENTIRE queue url as the `queue_name` param. That's discussed in my issue @msaraiva linked.

[2019-09-25 15:08] nocivus commented on #31
Ah, then i'll probably upgrade that. Btw, with 0.2.0 i still get the same error even after updating hackney to master. Do you think it could have anything to do with the fact that i use this docker image to build:
[code]

and this one to actually run the released version?

[code]

Btw, reason i use 3.9 is because the app does not even start (seg fault) with alpine latest.

[2019-09-25 15:12] chris-brace commented on #31
This is 100% what caused it. c.f.: https://github.com/c0b/docker-elixir/issues/122#issuecomment-534730270

I fixed this by changing the hackney dep to point at master (really annoying, might consider switching to mojito). Just don't forget to add ```docker
# fix for downloading hackney master
RUN apk add --no-cache git
[code]

[2019-09-25 15:15] chris-brace commented on #30
Btw that's my other github account. Github enforcing global uniqueness for SSH keys made it easier to just do this on my personal one.

[2019-09-25 15:18] nocivus commented on #31
Doesn't seem to work, maybe i need to wait for the new hackney version:

![image](https://user-images.githubusercontent.com/3353/65614747-10c38d00-dfb0-11e9-9946-16a8649dd1ab.png)

[2019-09-25 15:26] chris-brace commented on #31
Oh boy.. yeah so i would recommend resolving the dep overrides and stuff locally. Are you using an umbrella project?

[2019-09-25 15:29] nocivus commented on #31
Yeah, trying to sort it out, let's see how it goes. I might end up waiting for hackney to have a version out. Thanks for the help!

[2019-09-25 15:30] ixtli commented on #31
They need to make a point version. Dunno how long that's gonna take. If you're using an umbrella project you can just put the dependency with `override: true` in the umbrella `mix.exs` and that SHOULD take precedence over everything. Also you *may* be able to just swap out hackney and replace it with mojito though i haven't tried this.

[2019-09-25 15:34] nocivus commented on #31
Ended up solving it by explicitly setting the cowboy version i needed in my mix file:
`{:cowboy, "~> 2.5", override: true},`

Thanks for the help, guys!

[2019-09-25 15:35] nocivus commented on #31
Work around works :)

[2019-09-25 15:35] #31 closed

[2019-09-26 15:15] msaraiva commented on #30
Closed by #32 and #33

[2019-09-26 15:15] #30 closed

[2019-10-03 19:33] brian-petersen opened #34 "Example app broken"
With the upgrade to `ex_aws_sqs` from `2.x` to `3.x`, the example app is broken. Only the queue name is given, not the queue url as required now.

[2019-10-03 19:35] josevalim commented on #34
Oh, good catch! We upgraded everything except the example app. Can you
please send a PR?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-10-22 13:19] nocivus opened #36 "More explicit docs on SQS message acknowledgment?"
Hey guys, great work on both Broadway and BSQS!

I was reading the documentation and it was not immediately obvious to me how the messages get acknowledged (or not) back to AWS in the handle_batch function.

Am i correct to assume that any messages that are returned as the return value get acknowledged and those who are not do not? If so, i think the phrasing on the docs could reflect this a bit b

[2019-10-22 13:24] josevalim commented on #36
`handle_batch` should always return all messages it receives, I will update the docs to make this clear. For changing the ack behaviour on failure, see #17.

[2019-10-22 13:31] nocivus commented on #36
Hey Jose, thanks for the quick answer. But you got me event more confused now :)

Say i am processing a batch of 10 messages but i don't like message number 9 for some reason and don't want to ack that one (i.e. want it to go to the error queue after the redrive policy count is reached). How do i proceed in that case? Still return the 10 messages in handle_batch but modify the one that i want fail

[2019-10-22 13:48] nocivus commented on #36
Ok, my bad. I should mark it as failed: https://hexdocs.pm/broadway/Broadway.Message.html#failed/2

[2019-10-22 13:48] #36 closed

[2019-10-22 14:12] josevalim commented on #36
Np! I have added a warning if you happen to return less messages too.

[2019-10-24 17:39] sdomino opened #37 "`queue_url` & region config"
I have the following module configured:
[code]

When I start the application, Broadway starts polling against a queue region based on its own `config: region:` value or the `ex_aws: region:` config value (default: `us-east-1`):

`[debug] ExAws: Request URL: "https://sqs.us-east-1.amazonaws.com/"`

If I change the module config to the following (or the `ex_aws: region:` value):
[code]

It polls the

[2019-10-24 17:46] sdomino commented on #37
After thinking about it a bit more, I'm wondering if this might just be a leftover function of previous versions when you needed to specify the queue name. In that case, you would need to know the region.

[2019-10-24 17:57] josevalim commented on #37
Yeah, looks like a left over. Is it mentioned in the docs? If so, can you send a PR remove any reference?

[2019-10-30 19:40] #37 closed

[2019-11-04 18:05] msaraiva commented on #34
Closed by https://github.com/plataformatec/broadway_sqs/pull/38

[2019-11-04 18:05] #34 closed

[2019-11-07 18:52] mcrumm opened #40 "Add client options for configuring a connection pool"
As we did for Cloud Pub/Sub (plataformatec/broadway_cloud_pub_sub#37), should we look to implement pipeline-specific connection pools for BroadwaySQS?

I was about to start on a PR for this when I realized it might be a little more involved than the Pub/Sub change, as we don't have a hard requirement on `:hackney` here.  Should we add one?

[2019-11-07 19:11] msaraiva commented on #40
Not sure. I remember we've discussed some time ago that since broadway producers already work as a pool, the best approach would be to use something like Mint. I'm sceptical that adding these options now would bring any real benefit but I might be wrong. We would need some real benchmark to make sure :)

[2019-11-15 13:01] igorescobar opened #42 "Error reporting/handling? (Acknowledgement silent errors!)"
Hey guys,

First of all. Thanks a lot for putting so much work into this and making it available for us.

What happened with us is that we deployed to production Broadway + Broadway SQS and we noticed that the messages just wasn't being "acknowledged" on the AWS side so all messages were coming through but they weren't being deleted so they just stayed as "in flight" and then appeared again to be

[2019-11-15 13:14] josevalim commented on #42
Good find, thanks for the reporting. We should check the response of all SQS commands or use the request! variant.

[2019-11-15 13:23] josevalim commented on #42
@mcrumm pinging you to double check if we have a similar issue on cloud_pub_sub.

[2019-11-15 15:21] mcrumm commented on #42
@josevalim thanks for the ping! I think the Pub/Sub logs any failed request, but I'll double-check

[2019-11-19 22:50] jnatherley opened #43 "handle_failed does not ack messages"
Hey,

Thank you so much for the work and effort you've put into this package. It's really a breeze. I think i discovered an issue with the current `:broadway_sqs ~> "0.5.0"`. According to the main documentation in broadway:

According to the code inside `broadway_sqs/lib/broadway_sqs/ex_aws_client.ex`:
[code]

`_failed` is never used and the messages just remain in the queue. In the end i wrote th

[2019-11-19 23:06] josevalim commented on #43
Thanks for the report! We will close this in favor of #17. PRs are welcome.

[2019-11-19 23:06] #43 closed

[2019-12-10 19:16] mazumdaraniruddha opened #44 "Application fails to start with badarg, :ets :match"
I was trying to setup one of my applications with broadway_sqs. It just does not start though. Here's the module that 'uses' Broadway:

[code]

I have added the MySQSListener as a child in my app supervisor like so:

[code]

Here's what my mix.exs deps looks like:

[code]

And here's what is output just before the app crashes when i do iex -S mix:

[code]

Please let me know in case I'm going wron

[2019-12-10 19:33] josevalim commented on #44
Can you post your application on GitHub so we can take a look at all the pieces together?

[2019-12-10 19:34] mazumdaraniruddha commented on #44
Hello, I actually was able to fix it by adding :broadway_sqs in aplications: [] like so:

[code]

I probably missed this piece of info in the documentation somewhere.

[2019-12-10 19:35] josevalim commented on #44
You were not supposed to do this. You can remove `:applications` altogether and everything should work:

[code]

[2019-12-10 19:36] #44 closed

[2020-01-28 11:37] #42 closed

[2020-02-05 14:45] wojtekmach commented on #17
@josevalim @mcrumm on broadway_sqs we have `:ack | :noop`, on cloud_pubsub we have `:ack | :ignore`, which option should we standardise on? I'm happy to make the change in the appropriate connector.

[2020-02-07 00:42] mcrumm commented on #17
@wojtekmach Personally, I like `:noop`. Ignore could _potentially_ be construed for dropping the message, whereas noop is explicit about doing nothing.

[2020-02-07 00:47] wojtekmach commented on #17
I assume José wants :noop too since he proposed it :) Ill send a patch to cloud_pub_sub tomorrow.

[2020-02-07 00:47] #17 closed

[2020-04-23 08:43] tjsousa opened #47 "Document wildcard support for `message_attribute_names`"
[According to AWS documentation there is support for wildcards](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_ReceiveMessage.html) when specifying which message attributes to retrieve.

For testing purposes we use https://github.com/softwaremill/elasticmq which doesn't seem to support the `All` parameter but does indeed support `.*` I've tried specifying it as `message_

[2020-04-23 09:18] josevalim commented on #47
Please send a PR!

[2020-04-23 09:36] tjsousa commented on #47
Cool, here's the PR ☝️

[2020-04-23 10:20] #47 closed

[2020-05-08 21:06] bismark opened #49 "AWS.SimpleQueueService.BatchEntryIdsNotDistinct"
We are getting these errors on occasion (once or twice a week):

[code]

My first hunch was a duplicate message due to at-least-once behavior of standard queues. However, the crash repeats over and over until I go in to the SQS manager and delete the single message...

I'm a bit stumped at the root cause, but would a PR that runs uniq by id on the receipts before sending up the delete batch be wel

[2020-05-08 22:42] josevalim commented on #49
Hi @bismark! I would prefer not to call `uniq` on it because it means we would most likely hide the root cause.

Btw, this is the first time we hear a report like this, so I would first start by double-checking your producer (do you have any custom client code?) and your `handle_batch` to see there are no duped messages.

[2020-05-14 22:48] bismark commented on #49
I was finally able to snag a dump of a problematic message batch today:

[code]

So same message, different receipt handles...

Producer is `{BroadwaySQS.Producer, queue_url: "<url>", message_attribute_names: :all}`.

`handle_batch`:

[code]

[2020-05-15 07:17] josevalim commented on #49
I see. This SO answer provides some insights on your options: https://stackoverflow.com/questions/23815080/how-to-handle-sqs-re-sending-the-same-message-to-the-requestor

I believe it would still be important to understand *why* this is happening. Is it a misconfiguration on AWS side? Low timeouts, etc?

If you believe this will be common, then you will need to store in memory or on disk or on Red

[2020-07-31 19:22] rraub commented on #49
We also have run into this when processing messages from SQS in batches. The same message may be redelivered if it was never deleted within the processing window in a previous request.

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html

We could add filtering for this in our `handle_batch/4` implementations but this is something that woul

[2020-08-13 18:59] josevalim commented on #40
So my recommendation is to use github.com/keathley/finch which is still a pool but without the extra copying. :)

[2020-08-13 18:59] josevalim opened #52 "Add integration tests with bypass to Amazon SQS"

[2021-01-12 18:31] #52 closed

[2021-01-25 15:57] justincjohnson opened #57 "Dependency on ex_aws_sqs"
Hi 👋

**Background**
As you are aware, [recently](https://elixirforum.com/t/maintainer-wanted-exaws/31731) the maintainer of `ex_aws` stepped away from the project and expressed some concerns with how the library is written.  I understand that another maintainer has stepped up to take over the project, which is great and appreciated.

This lead to some discussion about the possible use of [aws_eli

[2021-01-25 16:18] josevalim commented on #57
We already have a behaviour for the SQS client, so you can try to plug that in. You don't have to worry about things like delete_message_batch because you can setup your own acknowledger when you receive messages. So I would recommend giving that a try and letting us know how it goes!

:heart:

[2021-01-25 16:36] justincjohnson commented on #57
Ah, brilliant.  I see that I'm already implementing both behaviours for dev, so I just need to do the same for prod.  🤦🏻   I'm slowly learning the beauty of behaviours.

[2021-01-25 16:36] #57 closed

[2021-03-11 01:40] viniciusd opened #60 "Use a local SQS instance"
Hello there!

I started trying Broadway [and BroadwaySqs] Today. Whenever I use SQS, I try using a local instance via [ElasticMQ](https://github.com/softwaremill/elasticmq) for development purposes via docker (`docker run -p 9324:9324 -p 9325:9325 softwaremill/elasticmq-native`).

Is it possible to point to a local ElasticMQ instance using BroadwaySqs? I don't see anything related in the docs.

I

[2021-03-11 01:52] viniciusd commented on #60
Also tried:
[code]

I see those parameters reflect into the error message, but no success either.

[2021-03-11 06:41] josevalim commented on #60
Please show us our versions and Broadway configuration. AFAIK this is possible and it has been improved lately, [see here](https://github.com/ex-aws/ex_aws_sqs/pull/9).

[2021-03-11 06:45] josevalim commented on #60
It may also be that your queue_url has to be http://localhost:9324/queue/wl-test-queue. Make sure you can properly curl the endpoints.

[2021-03-11 11:32] viniciusd commented on #60
I am using the following versions:
[code]

[code]

This PR seems very interesting and definitely related. I see they are using the following configuration:
[code]
I would assume I am doing all right by setting those parameters.

[2021-03-11 11:36] viniciusd commented on #60
You are absolutely right. The path should be `/queue/<queue_name>`. Just tried it with curl: `curl 'http://localhost:9324/queue/hi?Action=SendMessage&MessageBody=Foobar'`

But I am still getting the same error message when using the right URL.

[2021-03-11 13:10] msaraiva commented on #60
Hi @viniciusd!

This config works for me:

[code]

Here's the full source of the example I tried:

[code]

I use the following script to send some sample messages to the queue:

[code]

You can run both scripts using:

[code]

[code]

[2021-03-11 15:02] viniciusd commented on #60
Thank you for your examples @msaraiva. So it is definitely a problem with my setup.

Not only that, but you showed me that my problem is not related to BroadwaySqs at all, given not even the `send_messages.exs` script is succeeding. The script gives me the same error messages I was getting with Broadway.

One thing that caught my attention: even if I set the region to `elasticmq` explicitly in the

[2021-06-19 21:36] martosaur opened #62 "Producer would sometimes send messages into the void"
I think there's a bug in a way producer [handles the demand](https://github.com/dashbitco/broadway_sqs/blob/master/lib/broadway_sqs/producer.ex#L214).

Consider following scenario:
1. Producer receives demand for `10` messages
2. Producer fetches `9` messages from the server [here](https://github.com/dashbitco/broadway_sqs/blob/master/lib/broadway_sqs/producer.ex#L240)
3. Producer then schedules a

[2021-06-20 07:17] josevalim commented on #62
`handle_demand` is stateful. If the consumer asks for 10 and you deliver 9, then the producer should know it has 1 message pending to deliver, because the consumer won't ask for it again. All callbacks in GenStage allow you to deliver a message later. The reason why your test is failing is because you are matching on the wrong message here:

https://github.com/martosaur/broadway_sqs/blob/autorecei

[2021-06-20 07:17] #62 closed

[2021-08-24 13:47] philss commented on #60
Hey @viniciusd, can you tell us if the problem is solved?
I'm closing the issue for now, since it doesn't seems to be related with Broadway SQS. Feel free to ping us again here :)

[2021-08-24 13:47] #60 closed

[2021-08-29 00:42] viniciusd commented on #60
It isn't, but I gave up on using a local ElasticMQ instance and went for a fully-fledged SQS queue as the deadline was approaching.

Thanks you all!

[2021-09-20 10:20] benkeil opened #63 "AWS.SimpleQueueService.BatchEntryIdsNotDistinct"
When using non FIFO queues, it happens quite often that I receive the same message more than once. That's ok during processing, but when broadway wants to acknowledge the messages (which are in the same batch) if throws an error and move the messages to the DLQ.

Could we just filter out duplicates during acknowledging?

[2021-09-20 10:21] josevalim commented on #63
Hi @benkeil! I have moved this to the SQS repo. I think we can support a new option ack type, called `:ack_duplicate`. here are the docs: https://github.com/dashbitco/broadway_sqs/blob/master/lib/broadway_sqs/producer.ex#L28

Would you link to send a PR for that?

[2021-09-21 01:30] benkeil commented on #63
I will do

[2021-09-26 08:12] benkeil commented on #63
Not sure how to handle the configuration part. If we add the new type `ack_duplicate` you can set e.g. `on_success: :ack` and `on_failure: :ack_duplicate` which makes no sense. Wouldn't it make more sense to leave the options with `:ack` and `:noop` and add a new option `:ack_mode` with `:default` and `:duplicate`?

[2021-09-26 08:20] josevalim commented on #63
@benkeil why do you say it makes no sense? Maybe it has no practical use but in theory there is no problem in allowing success to not ack duplicates and allow failures to ack so.

[2021-09-26 08:21] josevalim commented on #63
To give such an example, consider this:

1. You want to always mark messages as acked
2. Your pipeline checks for the SQS message ID and it raises if the IDs are duplicate

In this case, you want to have exactly `on_success: :ack, on_failure: :ack_duplicate`, because you know dupes will fail (and therefore should ack) and you expect successes to never have dupes.

[2021-09-26 08:39] benkeil commented on #63
Don't get your point. Either you want to ack or you don't. And if you want to ack you can't ack the same message I'd twice in the same batch, do you Must skip it to not get errors. Also from a Business Logic side it makes no sense, because it's the same message.

[2021-09-26 09:14] josevalim commented on #63
I see your point. `:ack_duplicate` is a poor name. We can change the name but I still think it should be an option that goes alongside `:ack | :noop` because that's what provides most flexibility.

It is also important to notice that we can't see it is a duplicate until we ack, so it is more like `:ack_and_ignore_duplicate_errors`.

[2021-09-26 12:30] benkeil commented on #63
You see at the very beginning if it is a duplicate on the message id. Theoretically you can skip the processing at all.
What is the purpose of being so flexible? It is not possible to ack these messages in the same batch. You could ack the failed messages separate from the succes messages, but what if you receive the message 3 times?

[2021-09-26 12:39] josevalim commented on #63
Oh, I see. If they are duplicate in the same batch, can it be the producer could have filtered them too? In any case, I think having a separate option called “filter_duplicate_ids_in_batch” will suffice. Should it be false or true by default?

[2021-09-29 04:07] benkeil commented on #49
Do you have any thoughts on #63?

[2021-09-29 04:11] benkeil commented on #63
I think if you misconfigured the queue with a too low visibility_timeout, this could also happen.
So I would suggest activate it by default but log an info/warning and/or add the number of duplicates to the metrics.
What exactly happens if you filter them out on SQS side?

[2021-09-29 06:15] josevalim commented on #63
Let's go this approach (logging), we don't even need an option. Thanks for all the discussion so far!

[2021-11-05 08:06] axelson commented on #18
In case anyone is looking for how to do this, Alberto was kind enough to prepare a gist of how he accomplished this:
https://gist.github.com/albertored/2fbbf304da765716f88336558698d0c2

Although do note that it is using old versions of broadway (0.3.0) and broadway_sqs (0.2.0) and may not work without modification.

[2022-02-16 21:38] austinarbor-wk opened #66 "Process Single Batch of Messages in Parallel"
Is there a way to send each message received in a batch to a different processor? From my local testing, it seems all messages received in a batch always go to the same processor (pid). I would expect that if I have producer concurrency = 1, and processor concurrency = 10, if I receive 10 messages each message would get processed in parallel. Instead, each message consumed in the batch is processe

[2022-02-16 22:22] austinarbor-wk commented on #66
I did some more experimentation, and if I add
[code]
This seems to accomplish what I want. However, it seems a little bit like a hacky approach and I'm wondering if there is a better way?

[2022-02-16 22:27] josevalim commented on #66
The amount of items you receive to process is controlled by `max_demand`, which defaults to 10. You can set `max_demand` to 1 and then each processor receives at most one entry.

[2022-02-16 22:27] #66 closed

[2022-02-16 22:32] austinarbor-wk commented on #66
@josevalim thanks! I forgot reading about that configuration option

[2022-04-12 18:55] austinarbor opened #69 "SQS Partitioning Unexpected Behavior"
Hello,
When using partitioning on a FIFO queue on SQS, I am seeing some unexpected behavior. My broadway config is:
[code]

The partition function set on the processors is:
[code]

When running the pipeline like this, the observed behavior is:
1. `N` available messages are pulled down from SQS (all with the same message group id). Assume the queue is empty after this poll
2. The partition function

[2022-04-12 19:46] josevalim commented on #69
Can you perhaps reproduce This in our test suit? It will make it much easier for us to debug and solve it. Thanks!

[2022-04-12 19:46] josevalim commented on #69
Wrong button, sorry!

[2022-04-12 21:53] austinarbor commented on #69
@josevalim I've created a reproducer project for you here: https://github.com/austinarbor/broadway-sqs-issue Instructions are in the README, let me know if you have any questions!

[2022-06-18 16:42] austinarbor commented on #69
Hi @josevalim , any luck reproducing this?  Thanks!

[2022-06-19 08:11] josevalim commented on #69
The issue is here:

[code]

We expect our partitions to be even. So we will only progress once all partitions are ready to ask for more. The combination of a high number of concurrency and max_demand 1 makes it really hard to progress. Even setting max_demand to 10 will help a bit because you can ask for more mid way (when you processed 5).

[2022-06-19 08:11] #69 closed

[2022-06-19 16:57] austinarbor commented on #69
@josevalim I think you misunderstood - the messages from sqs have _already been fetched_ by Broadway, but it is still waiting a full polling interval to send them to the consumers. Shouldn't it send the messages it already has locally to the consumers before requesting more from SQS?

Forgive me but don't fully understand your configuration comment - it seems like you are saying our configuration

[2022-06-19 17:59] josevalim commented on #69
Here is what is happening. You have 75 processors. However, those 75 messages are not evenly distributed across all partitions. This means partition 13 may get 3 messages. However, `max_demand` says they can only have 1. This means partition 13 gets one message and it will only get the other two once all other partitions consume at least 1.

For your needs, `[concurrency: 7, max_demand: 10]` will

[2022-08-23 19:15] Nickforall opened #70 "SQS producer stops getting new messages after a minute of application start"
Hey all, I'm not sure where to start debugging this, but I have a bunch of broadway processes running, one of which consistently stops sending pulling in new messages in roughly a minute after launching the app.

I haven't gotten any error messages. Other queues keep running fine.

It feels like it's a bug, but it could very well be a configuration error on my side as well.

Here's the code i'm ru

[2022-08-23 21:52] Nickforall commented on #70
And of course it was my own fault, with a process that got stuck because i forgot the `after`. Nevermind 🤦🏻‍♂️

[2022-08-23 21:52] #70 closed